@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to LisaMovies</h1>
    <p>Here you can find a bunch of great movies with great actors. Enjoy!</p>
</div>
