@model Actor

@{
    ViewData["Title"] = "Selected Actor";
}

<h1>@Model.FirstName @Model.LastName</h1>
<br>
<h3>Takes part in the following movies:</h3>

    @{
            foreach (var movie in Model.Movies)
            {
                <li><a href="/Home/SelectedMovie/@movie.Id">@movie.Title </a>, @movie.ReleaseYear</li>
            }
    }

    

